@import "../../colors.scss";

.address-container {
  margin-top: 16px;
  border-bottom: 1px solid $border-color;
}

.add-new-address {
  display: flex;
  height: 64px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .title {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
  }

  .add-image {
    width: 24px;
    height: 24px;
  }
}

.new-address-container {
  margin-top: 128px;
}

