@import "../../../colors.scss";

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  bottom: 0;

  .empty-title-margin {
    margin-top: 32px;
  }
  .empty-title {
    font-family: Montserrat-ExtraLight;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.6px;
  }
  .favorite-drinks-margin {
    margin-top: 28px;
  }
  .favorite-drinks {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;
  }

  .search-drinks {
    margin-top: 16px;
    font-family: Montserrat-Medium;
    color: $orange-color;
  }
}
