.custom {
  top: 196px;
}
.store-search {
  padding: 10px 0;
  margin: 0px;
  margin-top: 16px;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
}
.dopen-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-left: 24px;
}
.loadMore {
  color: $orange-color;
  height: 60px;
}

.mar-zero {
  margin: 0;

  .fssai-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin-left: 24px;

    .fssai-img {
      width: 64px;
      height: 32px;
    }

    .fssai-license-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 16px;
      margin-top: 12px;

      .fssai-license {
        font-family: MontserratExtraLight;
        font-size: 12px;
        line-height: 16px;
      }

      .fssai-license-no {
        font-family: MontserratBold;
        font-size: 12px;
        margin-left: 4px;
        line-height: 16px;
      }
    }
  }
}
.storefront-container {
  position: relative;
  .horiz-scroll {
    border: 1px solid $border-color;
  }
  ul {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    padding: 0px;
    &:first-child {
      margin-left: 9px;
    }
    li {
      padding: 10px 15px;
      list-style: none;
      color: #5f5f6e;
      cursor: pointer;
    }
    .activeBrand {
      color: white;
    }
  }
}
