@import "../../../colors.scss";

.order-address-container {
  margin-top: 10px;
  height: 38px;
  width: 100%;

  .address-logo-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: absolute;
    left: -26px;

    .image {
      width: 16px;
      height: 22px;
      align-self: center;
    }
  }

  .address-details-container {
    height: 40px;
    margin-left: 24px;
    position: relative;

    .title {
      width: 100%;
      font-size: 14px;
      line-height: 17px;
    }

    .address {
      opacity: 0.6;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: Montserrat;
      font-size: 12px;
      line-height: 15px;
      margin-top: 6px;
    }
  }
}

.order-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order-container {
  @extend .order-layout;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 8px;
  margin-top: 8px;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
}

.you-pay-container {
  @extend .order-container;
  height: 56px;
  margin-top: 8px;
  border-top: 0.5px solid $border-color;
  border-bottom: 0.5px solid $border-color;
}
