@import "../../../colors.scss";

.cart-header {
  width: 100%;
  display: flex;
  padding-bottom: 8px;
  flex-direction: column;
  border-bottom: 1px solid $border-color;

  .purchasing-from {
    font-family: MontserratSemiBold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    order: 1;
    color: $secondary-color;
  }
  .retailer-name {
    font-family: MontserratBold;
    font-style: bold;
    font-size: 22px;
    line-height: 22px;
    margin-top: 8px;
    color: $secondary-color;
  }

  .cart-address {
    font-family: MontserratMedium;
    font-size: 16px;
    letter-spacing: 0.08px;
    margin-top: 8px;
    order: 3;
    color: $secondary-color;
  }
}

.cart {
  .generic-detail-container {
    border-bottom: none;
  }

  .cart-sub-header{
    display: flex;
    flex-direction: row;
    order: 2;
    justify-content: space-between;
    align-items: baseline;
  }
}