@import "../../../colors.scss";

.cart-header {
  width: 100%;
  display: flex;
  padding-bottom: 8px;
  flex-direction: column;
  border-bottom: 1px solid $border-color;

  .purchasing-from {
    font-family: MontserratSemiBold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    order: 1;
  }
  .retailer-name {
    font-family: MontserratBold;
    font-style: bold;
    font-size: 24px;
    line-height: 24px;
    margin-top: 8px;
    order: 2;
  }

  .cart-address {
    font-family: MontserratMedium;
	  font-size: 16px;
    letter-spacing: 0.08px;
    margin-top: 8px;
    order: 3;
  }
}
