@import "../../../colors.scss";

.retailer_list_wrap {
  padding: 0px 16px;

  .loading {
    height: 100px;
  }
  .noRetailers {
    text-align: center;
    height: 256px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .tryDifferentAddress {
    color: $orange-color;
  }
  .retailer_item {
    height: 64px;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .retailer_item_image {
      height: 16px;
      width: 8px;
      margin-top: 8px;
    }

    .retailer_link {
      height: 100%;
      width: 100%;
      margin-top: 8px;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .retailer_name {
        font-size: 14px;
        line-height: 24px;
        font-family: MontserratSemiBold;
      }

      .retailer_info {
        font-size: 12px;
        line-height: 20px;
        color: $edit-color;
      }
    }
  }
}
