.m_wrap {
  width: 100%;
  height: 230px;
}
.s_wrap {
  position: relative;
  height: 220px;
  overflow: hidden;
}

.dx {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: absolute;
  bottom: -10px;
}
.xc {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 4px;
  margin: 10px;
  img {
    width: 100%;
  }
}
