@import "../../../colors.scss";

.order-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detail-charges-container {
  @extend .order-layout;
  font-size: 11px;
  line-height: 13px;
  height: 20px;
  opacity: 0.6;
}

.charges-container {
  @extend .order-layout;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  height: 32px;
  align-items: center;

  .label-container {
    display: flex;
    flex-direction: row;
  }

  .icon {
    margin-left: 6px;
    height: 8px;
    width: 8px;
    align-self: center;
  }
}

.refundable-amount {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.08px;
  margin-top: 8px;
}

.cancel-container {
  @extend .charges-container;
  margin-top: 16px;
  margin-bottom: 24px;

  .cancel-title {
    font-size: 16px;
    line-height: 20px;
  }

  .cancel-icon {
    width: 24dpx;
    height: 24px;
  }
}
.gst-number-container {
  @extend .charges-container;
  font-family: MontserratBold;
  opacity: 0.6;
}
