.userBasicInfoComponent {
  .input-info {
    width: 75%;
  }
  .input-shield {
    width: 25%;
    img {
      width: 100%;
    }
    padding: 0px 15px;
  }
  .dob {
    letter-spacing: 14px;
  }
}
