@import "../../../colors.scss";
@import "../../../dimens.scss";

.bottom-bar-nav {
  bottom: 56px !important;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  background: $secondary-bg;
  backdrop-filter: blur(25px);
  justify-content: flex-end;
  padding-right: 16px;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
}

.bottom-cart-content {
  margin-top: 20px;
  margin-left: 24px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: MontserratBold;
}

.bottom-bar-space-btwn {
  justify-content: space-between !important;
}

@media only screen and (max-height: $win-max-height) {
  .bottom-bar-height {
    display: none;
  }
}

.bottom-bar-height {
  height: 56px;
}
