@import "../../../colors.scss";


.bottom-bar {
  display: flex;
  flex-direction: row;
  height: 64px;
  background: $secondary-bg;
  backdrop-filter: blur(25px);
  justify-content: flex-end;
  padding-right: 16px;
  position: fixed;
  bottom: 7%;
  left: 0;
  right: 0;
}

