.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #2C2C33;
  padding: 8px;
}

.navItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    height: 72px;
    width: 72px;
  }
}

.navText {
  font-size: 32px;
}
