$primary-color: #d1d2dd;
$bg: #0c0d0f;
$modal-bg: #424242;
$border-color: #2c2c33;
$orange-color: #e97c07;
$btn-color: #e97c07;
$secondary-bg: #1b1b1f;
$container-bg: #151619;
$edit-color: #5f5f6e;
$black-color: #000000;
$error-color: #ff2400;
$overlay-color: #141313e0;
$header-disable-color: #5b5c61;
$subtext-disable-color: #2d2e36;
