@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

$primary-color: #d1d2dd;
$bg: #0c0d0f;

body {
  font-family: "Montserrat";
  background-color: $bg;

  div {
    color: $primary-color;
  }
}

h1 {
  color: $primary-color;
  background-color: $bg;
  font-family: bold;
}
