@import "~bootstrap/scss/bootstrap";
@import './colors.scss';

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-ExtraLight.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Montserrat";
  background-color: $bg;

  div {
    color: $primary-color;
  }
}

h1 {
  color: $primary-color;
  background-color: $bg;
  font-family: bold;
}
