@import "~bootstrap/scss/bootstrap";

$primary-color: white;
$bg: black;
h1 {
  color: $primary-color;
  background-color: $bg;
}

body {
  background-color: #0C0D0F;

  div {
    color: #D1D2DD;
  }
}


