.search-container {
  display: flex;
  justify-content: center;
  input {
    padding: 7px 7px;
    width: 97%;
    color: white;
    background: #272729;
    border: none;
    border-radius: 4px;
    margin: 10px;
    outline: none;
  }
  button{
    width: 87px;
    background: none;
    border: none;
    color: white;
  }
}
