@import "../../colors.scss";

.past-orders {
  margin-top: 24px;
  font-size: 16px;
  font-family: MontserratBold;
  padding-bottom: 4px;
  border-bottom: 1px solid $border-color;
}

.need-help-container {
  //  border-bottom: 1px solid $border-color;
  padding-bottom: 4px;
  padding-top: 4px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;

  .help-content-container {
    display: flex;
    flex-direction: column;

    .help-title {
      font-family: MontserratSemiBold;
      font-size: 12px;
    }

    .help-sub-content {
      margin-top: 4px;
      font-size: 10px;
      color: $edit-color;
    }
  }
  .help-next-icon {
    width: 10px;
    height: 10px;
    align-self: center;
  }
}

.order-item {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid $border-color;
  padding-top: 12px;
  padding-bottom: 12px;

  .order-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .item-display-title {
      font-family: MontserratSemiBold;
      font-size: 16px;
      line-height: 16px;
    }

    .item-display-total {
      font-size: 16px;
      line-height: 24px;
      color: $orange-color;
    }
  }

  .item-date {
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    color: $edit-color;
  }

  .retailer-name {
    font-size: 12px;
    line-height: 16px;
    color: $edit-color;
    margin-top: 8px;
  }
}
