@import "../../../colors.scss";

.cart-item {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-direction: row;
  border-bottom: 1px solid $border-color;
  .cart-image {
    width: 60px;
    height: 60px;
  }
  .cart-content {
    display: flex;
    width: 100%;
    margin-left: 8px;
    flex-direction: column;
    .sub-item {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .cart-volume {
        font-family: Montserrat-Medium;
      }
      .cart-counter {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        justify-content: space-evenly;
        border: 1px solid $primary-color;
        box-sizing: border-box;
        border-radius: 14px;
        width: 80px;
        height: 28px;
      }
      .symbol {
        text-align: center;
        width: 30px;
        font-size: 18px;
      }
    }
  }
}
